html {
    height: 100%;

    background-color: #eee;

    @include scrollbar(.5em, slategrey);
}

$text-color: #fff;
$secondary-text-color: #ccc;
$hover-text-color: #999;

// MAGIC!
body * + * {
    //margin-top: 1.5rem;
}

* {
    //font-size: calc(1em);
}

h1 {
    //font-size: calc(1em + 2vw);
}

tr:nth-child(even) {
    background: slategrey;
}

tr:nth-child(odd) {
    background: darkslategrey;
}
