html, body {
    margin: 0;
}
* {
    box-sizing: border-box;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
input {
    font-family: 'sofia-pro', sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
